# NextAuth.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=86888d0494bce5f88847c21091d112dd6e254ace9fb4d4b49b44f78b543d4a4b

# PostgreSQL Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_pMiHVjsT9C2b@ep-wild-cloud-adpkgkti-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL=postgresql://neondb_owner:npg_pMiHVjsT9C2b@ep-wild-cloud-adpkgkti-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require

# Additional PostgreSQL URLs (if needed)
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_pMiHVjsT9C2b@ep-wild-cloud-adpkgkti.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-wild-cloud-adpkgkti-pooler.c-2.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_pMiHVjsT9C2b
POSTGRES_DATABASE=neondb

